<div class="card border-primary mb-3" style="max-width: 18rem;">
<div class="card-header">[<%= post.created_at.strftime("%R %P") %>] : </div>
    <div class="card-body text-primary">
            <%= post.body %>
    </div>
    <br>
</div>

